.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.message{
  width: 80%;
  padding:1rem;
  border-radius: 0.5rem;
  background-color: rgb(190, 250, 190);
  position: fixed;
  top: 2rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}
.red {
  background-color: rgb(248, 149, 149);
}

.btn{
  background-color: gray;
  color:white;
  width: 250px;
  padding:0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  border:none
}

.btn:hover{
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}